#card:hover {
    transform: scale(1.1);
}

#card .hidden-child {
    visibility: hidden;
}

#card:hover .hidden-child {
    visibility: visible;
}
.draggable {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
