<ul class="bg-white shadow-md rounded-lg p-4 space-y-4">
    <li class="py-2">
        <a
            href="https://github.com/Yaon-C2H8N2"
            class="text-blue-500 hover:underline"
            >Yoan DUSOLEIL</a
        >
    </li>
    <li class="py-2">
        <a
            href="https://github.com/Maxime-Cllt"
            class="text-blue-500 hover:underline"
            >Maxime COLLIAT</a
        >
    </li>
    <li class="py-2">
        <a
            href="https://github.com/Phaired"
            class="text-blue-500 hover:underline"
            >Rémy BARRANCO</a
        >
    </li>
    <li class="py-2">
        <a
            href="https://github.com/Sudo-Rahman"
            class="text-blue-500 hover:underline"
            >Rahman YILMAZ</a
        >
    </li>
    <li class="py-2">
        <a
            href="https://github.com/JuliePrigent"
            class="text-blue-500 hover:underline"
            >Julie PRIGENT</a
        >
    </li>
    <li class="py-2">
        <a
            href="https://github.com/BetulDSENER"
            class="text-blue-500 hover:underline"
            >Betul SENER</a
        >
    </li>
</ul>
