<nav
    class="h-10v border-solid border-b-2 bg-gradient-to-br from-blue-chill-300 to-blue-chill-400 border-black"
>
    <ul class="ml-4 flex items-center align-middle h-full">
        <li class="mr-6 text-white">
            <a
                routerLink="/"
                href="#"
                class="bg-blue-chill-800 p-3.5 rounded-xl"
                >Home</a
            >
        </li>
        <li class="mr-6">
            <a routerLink="/contact" href="#">Contact</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
<app-footer class="h-5v" />
