<div class="h-5/6 flex flex-col items-center mb-4">
    <h1 class="text-4xl font-bold mb-4 mt-10">
        Bienvenue sur <span class="text-blue-700">Cadmium</span>
    </h1>

    <h2 class="text-4xl mt-7">
        Vous avez
        <span class="text-blue-700">{{ tasks_list.length }}</span>
        {{ tasks_list.length > 1 ? 'tâches' : 'tâche' }}
    </h2>
    <app-modal #createTask>
        <app-create-task [task_list]="tasks_list" />
    </app-modal>
    <button (click)="openModal()">Créer une tâche</button>
    <div class="max-w-6xl mt-10">
        <!-- Filtres -->
        <div class="flex space-x-4 mb-4 justify-center">
            <div>
                <label for="filter-category">Statut :</label>
                <select
                    (ngModelChange)="onSelectChange($event, 'statut')"
                    [(ngModel)]="selectedStatut"
                    class="block w-32 py-2 px-4 bg-white rounded shadow-md"
                    id="filter-category"
                    name="filterCategory"
                >
                    <option value="all">Tous</option>
                    <option value="on">En cours</option>
                    <option value="finished">Terminé</option>
                </select>
            </div>

            <div>
                <label for="filter-price">Priorité :</label>
                <select
                    (ngModelChange)="onSelectChange($event, 'priority')"
                    [(ngModel)]="selectedPriority"
                    class="block w-32 py-2 px-4 bg-white rounded shadow-md"
                    id="filter-price"
                >
                    <option value="all">Toutes</option>
                    <option value="weak">Faible</option>
                    <option value="high">Haute</option>
                </select>
            </div>

            <div>
                <label for="filter-sort">Trier par :</label>
                <select
                    (ngModelChange)="onSelectChange($event, 'sort')"
                    [(ngModel)]="selectedSort"
                    class="block w-32 py-2 px-4 bg-white rounded shadow-md"
                    id="filter-sort"
                >
                    <option value="none">Aucun tri</option>
                    <option value="date">Date d'échéance</option>
                    <option value="priority">Priorité</option>
                </select>
            </div>
        </div>

        <!-- Liste d'éléments filtrés -->
        <app-filter [task_list]="tasks_list" />
        <app-list [task_list]="tasks_list" />
    </div>
</div>
